In [2]:
1  2  3  4  5  6  7  8  9  10
2  4  6  8  10 12 14 16 18 20
3  6  9  12 15 ....

SyntaxError: invalid syntax (283557803.py, line 1)

In [3]:
print("\n")
print("1\n2")

1
2

In [25]:
liczby_do_mnozenia = range(1,20)
wiersz = ""

for wiersz_index in liczby_do_mnozenia:
    for liczba in liczby_do_mnozenia:
        mnozonko = wiersz_index * liczba
        
        if len(str(mnozonko)) == 1:
            wiersz = wiersz + "    " + str(mnozonko)
        elif len(str(mnozonko)) == 2:
            wiersz = wiersz + "   " + str(mnozonko)
        else:
            wiersz = wiersz + "  " + str(mnozonko)
        
    print(wiersz)
    wiersz = ""

    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18   19
    2    4    6    8   10   12   14   16   18   20   22   24   26   28   30   32   34   36   38
    3    6    9   12   15   18   21   24   27   30   33   36   39   42   45   48   51   54   57
    4    8   12   16   20   24   28   32   36   40   44   48   52   56   60   64   68   72   76
    5   10   15   20   25   30   35   40   45   50   55   60   65   70   75   80   85   90   95
    6   12   18   24   30   36   42   48   54   60   66   72   78   84   90   96  102  108  114
    7   14   21   28   35   42   49   56   63   70   77   84   91   98  105  112  119  126  133
    8   16   24   32   40   48   56   64   72   80   88   96  104  112  120  128  136  144  152
    9   18   27   36   45   54   63   72   81   90   99  108  117  126  135  144  153  162  171
   10   20   30   40   50   60   70   80   90  100  110  120  130  140  150  160  170  180  190
   11   22   33   44   55   66   77   88   99  110  121  132  143  154  165  176  187  198  209
   12   24   36   48   60   72   84   96  108  120  132  144  156  168  180  192  204  216  228
   13   26   39   52   65   78   91  104  117  130  143  156  169  182  195  208  221  234  247
   14   28   42   56   70   84   98  112  126  140  154  168  182  196  210  224  238  252  266
   15   30   45   60   75   90  105  120  135  150  165  180  195  210  225  240  255  270  285
   16   32   48   64   80   96  112  128  144  160  176  192  208  224  240  256  272  288  304
   17   34   51   68   85  102  119  136  153  170  187  204  221  238  255  272  289  306  323
   18   36   54   72   90  108  126  144  162  180  198  216  234  252  270  288  306  324  342
   19   38   57   76   95  114  133  152  171  190  209  228  247  266  285  304  323  342  361

In [17]:
liczba = 6
liczba_jako_slowo = str(liczba)
if len(liczba_jako_slowo) == 1:
    print('liczba ma jeden znak')
else:
    print('liczba ma wiecej niz jeden znak')

liczba ma jeden znak

In [11]:
pudelko = 6

print(str(pudelko))

6

In [6]:
mieszkanka = [1,2,3,4]

print(len(mieszkanka))

4

In [8]:
slowo = 'kupa'

print(len(slowo))

4

In [ ]:
liczba